@model TodoWithMVC_And_KO.Models.ToDoViewModel

@{
    ViewBag.Title = "To Do App";
}

<h2>ToDos</h2>

@using (Html.BeginForm("AddTodo","ToDo", FormMethod.Post))
{
    @Html.TextBox("");
    <button type="submit" value="todo">Add ToDo</button>
}




