@model List<string>

@{
    ViewBag.Title = "To Do App";
}

<h2>ToDos</h2>

@using (Html.BeginForm("AddTodo","ToDo"))
{
    <input type="text" name="toDo"/>
    <input type="submit"/>
}

<div>
    <ul>
      @foreach (var item in Model)
      {
          <li>@item</li>
      }
    </ul>
</div>




